@model             Mission08_Team0104.Models.Task

@{

    ViewData["Title"] = "Add/Edit Task Page";

}

<div class="text-center">
    <h1>Add a New Task</h1>
    <p>Enter the task details below</p>
    <hr />

    <form method="post">
        <input type="hidden" asp-for="TaskId" />

        <label asp-for="TaskItem">Task</label>
        <input asp-for="TaskItem" type="text" class="form-control" required />

        <label asp-for="DueDate">Due Date</label>
        <input asp-for="DueDate" type="date" class="form-control" />

        <label asp-for=Quadrant>Quadrant</label>
        <select asp-for="Quadrant" class="form-control" required>
            <option value="">Select Quadrant</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
        </select>

        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control">
            <option value="">Select Category</option>
            <option value=1>Home</option>
            <option value=2>School</option>
            <option value=3>Work</option>
            <option value=4>Church</option>
        </select>

        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>